.invalid {
    border: 1px solid #dd3f4b !important;
}

.invalid-text {
    color: #dd3f4b;
    font-size: small;
}

.small {
    font-size: small;
}

.trash{
    color: red;
}

.required::after {
    content: " *";
    color: red;
}